.*
*~
!/.gitignore
*.o
*.lo
*.la
*.pyc
config.h
config.h.in
Makefile
Makefile.in
autoconf.h*
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.*
/configure
/depcomp
/html
/install-sh
/libtool
/ltmain.sh
/m4/lt*.m4
/m4/libtool.m4
/missing
stamp-*
/compile
/py-compile
